/*------General-------*/
@font-face {
  font-family: Anuphan;
  src: url(../assets/font/Anuphan.ttf);
}
body {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: Anuphan;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 400%;
}

p {
  text-align: justify;
}

.navbar .collapse .navbar-collapse {
  flex-grow: inherit;
}

.navbar a {
  color: white;
}

.navbar .navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  color: white;
}

.nav-link:focus,
.nav-link:hover {
  color: blanchedalmond;
}

.container-fluid {
  background-image: url(../assets/img/Background_princ.jpg);
  background-position: center;
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 10% 0 0 0;
}

.redes img {
  width: 30px;
  height: 30px;
  margin: 3px;
}

/*--------Index---------*/
.container-fluid .presentation img {
  margin: 10px 0px 15px 0px;
  width: 50%;
  border-radius: 5px;
}

.presentation-text {
  width: 100%;
  margin: 0px 15px;
}

.presentation-container {
  display: flex;
  flex-direction: row;
}

.fin-presentation {
  display: flex;
  margin: 5% 0 0 0;
}

.fin-presentation div {
  margin: 10px 10px;
}

@media (max-width: 1023px) {
  .container-fluid .presentation img {
    margin: 10px 0px 15px 0px;
    width: 100%;
    border-radius: 5px;
  }
  .presentation-container {
    display: flex;
    flex-wrap: wrap;
  }
  .fin-presentation {
    display: flex;
    flex-direction: column;
  }
}
/*------bodegas---------*/
.bodegas-mendoza {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-start;
}

.div {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 1030px) {
  .div {
    display: flex;
    flex-direction: row-reverse;
  }
}
.bodegas img {
  width: 100px;
  height: 100px;
  margin-top: 5%;
}

.bodegas .text {
  margin-left: 10px;
  margin-right: 10px;
}

.bodegas a {
  color: rgb(170, 170, 228);
}

/*----estilos---------*/
.contenedor-estilos {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.estilo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estilo h5 {
  margin: 30px;
}

.contenedor-estilos img {
  width: 400px;
  height: 400px;
}

/*------Premiados---------*/
.premiados img {
  width: 40px;
  margin: 10px;
}

/*------historia--------*/
.historia {
  display: grid;
  margin: 3% 5% 5% 3%;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  align-items: start;
  justify-content: center;
  gap: 2%;
  grid-template-areas: "text1 img1" "img2 text2" "text3 img3" "text4 img4";
}

.text1 {
  grid-area: text1;
}

.text2 {
  grid-area: text2;
}

.text3 {
  grid-area: text3;
}

.text4 {
  grid-area: text4;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
