/*------bodegas---------*/

.bodegas {

  .bodegas-mendoza {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;

    .bodega {
      display: flex;
      margin: 10px;
      flex-direction: row;
      justify-content: space-evenly;
    }

    @media (max-width: 1030px) {
      .bodega {
        display: flex;
        flex-direction: row-reverse;
      }
    }

  }

  img {
    width: 100px;
    height: 100px;
    margin-top: 5%;
  }

  .text {
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    color: rgb(170, 170, 228);
  }
}