  /*------Premiados---------*/
  .premiados {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .premiados_nac {
    width: 30%;
    border-left-style: solid;
    border-color: darkgray;
    margin-left: 5%;

    h3{
      text-align: center;
    }

    img {  
      width: 80%;   
      margin: 10px;
    }

    li {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }

  }

  .premiados_mundo {
    width: 70%;
  }