.grid_catas {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 2%;

    grid-template-areas:
        "section_1 section_1 aside"
        "section_catas section_catas aside"
        "form form form"
    ;
}



.section_1 {
    grid-area: section_1;
    display: grid;
    grid-template-columns: 2fr 2fr;

    .img_catas {
        width: 100%;
    }
}

.aside {
    grid-area: aside;
    iframe{
        margin: 1%;
    }
}

.section_catas {
    grid-area: section_catas;

    .card_catas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1%;

        .card {
            margin: 1%;
        }
    }
}

.form {
    grid-area: form;

}